<nav class="navbar is-transparent">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <app-logo></app-logo>
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="nav-item" (click)="showSearch()">
                  <i class="fa fa-search"></i>
                </a>
              </p>
              <p class="control">
                <a class="nav-item">
                  <app-cartbar></app-cartbar>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
