<section class="hero is-dark is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column has-text-right">
          <img src="assets/logoJoystick.svg" alt="Logo Joystick" />
        </div>
        <div class="column has-text-left">
          <h1 class="title">
            Super Store
          </h1>
          <h2 class="subtitle">
            The best games of the '80s
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
